# Base de données PostgreSQL
DATABASE_URL=postgresql+asyncpg://postgres:password@db:5432/ecommerce_db
SYNC_DATABASE_URL=postgresql+psycopg2://postgres:password@db:5432/ecommerce_db

# Sécurité JWT
SECRET_KEY=your-secret-key-here-minimum-32-characters-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Google OAuth
# REMINDER: DO NOT HARDCODE THE URL, OR ADD ANY FALLBACKS OR REDIRECT URLS, THIS BREAKS THE AUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Resend (Emails)
RESEND_API_KEY=
SENDER_EMAIL=noreply@example.com

# Application
APP_NAME=E-Commerce API
DEBUG=False
FRONTEND_URL=http://localhost:3000
